<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Dog Spring!</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/83bd2eb88c.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="header">
            <a href="/"><h1>DogSpring</h1></a>
        </div>

        <div class="main">
            <h1>Welcome to Dog Spring!</h1>
            <h2>Your premiere desitnation for dog raising simulation!</h2>
            <p>Project made by Jack Drolet</p>
            
            <div class="centered">
                <div class="row">
                    <div class="column">
                        <h2>New User</h2>
                        <form action="#" th:action="@{/new}" th:object="${loginForm}" method="post">
                            <p>Your Name: <input type="text" th:field="*{displayName}" /></p>
                            <p>Your Username: <input type="text" th:field="*{username}" /></p>
                            <p><div class="submit_button"><input type="submit" value="Create new user" /></div></p>
                        </form>
                    </div>
                    <div class="column">
                        <h2>Existing User</h2>
                        <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
                            <p>Username: <input type="text" th:field="*{username}" /></p>
                            <p><div class="submit_button"> <input type="submit" value="Login" /></div></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <p>©2022 Jack Drolet | 
                <a href="https://www.linkedin.com/in/jack-drolet/" class="social__icon--link" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <span></span>
                <a href="https://github.com/J-Drolet" class="social__icon--link" target="_blank"><i class="fa-brands fa-github"></i></a>
                <span></span>
                <a href="tel:518-593-1108" class="social__icon--link" target="_blank"><i class="fa-solid fa-phone"></i></a>
                <span></span>
                <a href="mailto:jjtelord@gmail.com" class="social__icon--link" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                <span></span>
                <a href="https://j-drolet.github.io/" class="social__icon--link" target="_blank"><i class="fa-solid fa-id-card"></i></a>
            </p>
        </div>
    </body>
</html>